<div class="container mydiv">
    <div class="row">
        <div class="col-md-8">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link   disabled" aria-current="page" href="#">Sort By</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " (click)="sortBy='name';reload()" [ngClass]="{'active': sortBy=='name'}">Name</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="sortBy='low-high';reload()" [ngClass]="{'active': sortBy=='low-high'}">Price -- Low to High
                    
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="sortBy='high-low';reload()" [ngClass]="{'active': sortBy=='high-low'}">Price -- High to Low</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="sortBy='newest';reload()" [ngClass]="{'active': sortBy=='newest'}">Newest First</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <input type="text" id="search" (input)="reload();" [(ngModel)]="search" class="form-control shadow-none" placeholder="Search here">
        </div>
    </div>

    <div class="row mydiv">
        <div class="col-md-4 product_container" *ngFor="let item of lstProduct">
            <!-- bbb_deals -->
            <div class="bbb_deals">
                <div class="bbb_deals_slider_container">
                    <div class=" bbb_deals_item">
                        <div class="bbb_deals_image"><img src="{{item.image}}" alt=""></div>
                        <div class="bbb_deals_content">

                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                <div class="bbb_deals_item_name">{{item.name}}</div>
                                <div class="bbb_deals_item_price ml-auto">&nbsp;&nbsp; ${{item.price}}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div *ngIf="total > 0">
                <ngb-pagination class="d-flex justify-content-center" [collectionSize]="total" [(page)]="page" [pageSize]="totalLimit" (pageChange)="getProduct($event)" [maxSize]="3" [boundaryLinks]="true" aria-label="Default pagination"></ngb-pagination>
            </div>
        </div>
    </div>
</div>